language: php

php:
  - 5.5
  - 5.4
  - 5.3

env:
  global:
    - "ARTIFACTS_AWS_REGION=us-east-1"
    - "ARTIFACTS_S3_BUCKET=phpframework.knut.me"
    - secure: "JwThLvud9ujObchHzf1V3SxyJ0fTTSPE/JPCmvH+nrIHIWSA3gLV5DQj3yLIwkkCkEjERVwRdYnKwxNJKSg54DNgmUJjYOw7igYu4xquBdV2fHFZ10T2bwCW2cK1+LtiLhUjkvIaLYQfFheIb3xEc4bzcXnA+jE0YJIYnt22TAY="
    - secure: "OFGijhgiDGYzNt4kZjd7OspCtd/lNi++vE4yyhNirg/QsoRzkpz1Xfotk7ZCRaPRAnEMM0uD9Xkq+cEGOJ/SPUkneuWmEAksUV9MzkSkME6zhX2gn9mpCvGF4o9YV5x3sb4cQKAS72AnT4u4SwZ8wugzE7ksK/NSG3dPfbrSW28="

before_script:
  - "gem install travis-artifacts"
  - 'echo "extension = memcached.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini'
  - 'echo "extension = xdebug.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini'

script: phpunit

after_script:
  - "cd /tmp/report && travis-artifacts upload --path . --target-path /$(phpenv version-name)/"

# Only test commits to production branch and all pull requests
branches:
  only:
    - subdir
