{% extends internal/layout.html %}

{% block content %}
<p class="title">
  Welcome to this tiny PHP-framework
</p>
<p>
  I'm glad you made it here. This means you already have a running
  instance of this framework. Now, this is just a default site to
  show you something other than an error message on your first visit.
</p>
<p>
  Things you should try now:
</p>
<ol>
  <li>Look at the configuration at <strong><em>/config/settings.ini</em></strong></li>
  <li>Define your own URL handler at <strong><em>/config/urls.php</em></strong></li>
  <li>Write your own handler class and place them to <strong><em>/handler/</em></strong></li>
  <li>Modify the existing or write your own templates in <strong><em>/templates/</em></strong></li>
  <li>Place your static resources somewhere in <strong><em>/public/</em></strong></li>
</ol>
<p>
  If you have done all of that points I'm pretty sure you got how this
  framework is supposed to work. Now you can build nearly everything 
  with this. You are missing something? Just implement it!
</p>
{% endblock %}